
.icon-check:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */